<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<applicationName>ACME Test WebApi</applicationName>
	<logging>
		<logLevel
			default="Trace"
		/>
	</logging>
	<options
		enableConnectionLogging="true"
	/>
	<kestrel>
		<endpoints>
			<tcp-stream
				url="http://0.0.0.0:5000/"
			/>
		</endpoints>
	</kestrel>
	<tcp
		kestrelTcpEndpoints="tcp-stream"
		timeout="60"
	/>
	<allowedHosts>*</allowedHosts>
	<threading
		minWorkerThreads="18000"
		minCompletionPortThreads="20000"
		maxWorkerThreads="18000"
		maxCompletionPortThreads="20000"
	/>
</settings>